<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a_Anime</key>
	<array>
		<dict>
			<key>name</key>
			<string>anime1_00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_04</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_05</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_06</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_07</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_08</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_09</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_13</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_19</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_20</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_22</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_23</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_27</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_28</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_29</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_31</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_32</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime1_33</string>
		</dict>
	</array>
	<key>c_Cute Anime</key>
	<array>
		<dict>
			<key>name</key>
			<string>cuteAnime1_00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_04</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_05</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_06</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_07</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_08</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_09</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_13</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_19</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_20</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_22</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_23</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_27</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_28</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_29</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_31</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_32</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_33</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_34</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_35</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_37</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_38</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cuteAnime1_39</string>
		</dict>
	</array>
	<key>d_Food &amp; Drink</key>
	<array>
		<dict>
			<key>name</key>
			<string>food1_00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_04</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_05</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_06</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_07</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_08</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_09</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_13</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_19</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_20</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_22</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_23</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_27</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_28</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_29</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_31</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_32</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_33</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_34</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_35</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_37</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food1_38</string>
		</dict>
	</array>
	<key>e_Girls</key>
	<array>
		<dict>
			<key>name</key>
			<string>girls1_00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_04</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_05</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_06</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_07</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_08</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_09</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_13</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girls1_19</string>
		</dict>
	</array>
</dict>
</plist>
