<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rate</key>
	<dict>
		<key>starNumber</key>
		<string>4</string>
		<key>rateBool</key>
		<string>1</string>
	</dict>
	<key>clearCache</key>
	<string>202019</string>
	<key>ADSBOOL</key>
	<string>no</string>
</dict>
</plist>
