<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>living_16</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_20</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_04</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_08</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_01</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_12</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_05</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_04</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_09</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_14</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_05</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_18</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_13</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_04</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_04</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_09</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_10</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_08</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_14</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_05</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_01</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_07</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_09</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_02</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_00</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_08</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_08</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_15</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_10</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_12</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_14</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_01</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_04</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_14</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_24</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_10</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_20</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_02</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_25</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_06</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_06</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_07</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_03</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_08</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_01</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_06</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_07</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_23</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_05</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_03</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_19</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_02</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_26</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_02</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_13</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_00</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_09</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_21</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_12</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_13</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_22</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_17</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_09</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_05</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_02</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_16</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_14</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_07</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_07</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_15</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_03</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_11</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_09</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_08</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_06</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_15</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_03</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_00</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_10</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_12</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_27</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_12</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_03</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_13</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_11</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_11</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_18</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_11</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_13</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_00</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_21</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_15</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_11</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_05</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_13</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_11</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_01</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_22</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_02</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_12</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_06</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_00</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_03</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_04</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_07</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_06</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>living_17</string>
			<key>category</key>
			<string>Living</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_01</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_00</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_10</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_10</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_19</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_16</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_30</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_20</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_20</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_16</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_23</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_16</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_14</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_17</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_29</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_21</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_19</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_24</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_21</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_15</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_25</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_20</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_18</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_22</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_18</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_31</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_21</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_25</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_21</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_23</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_27</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_16</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_18</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_22</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_19</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_17</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_17</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_26</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_19</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_20</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_18</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beauty_22</string>
			<key>category</key>
			<string>Beauty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_17</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>food_19</string>
			<key>category</key>
			<string>Food</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_23</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animal_15</string>
			<key>category</key>
			<string>Animals</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nature_24</string>
			<key>category</key>
			<string>Nature</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashion_28</string>
			<key>category</key>
			<string>Fashion</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>b_Beauty</string>
		<string>c_Fashion</string>
		<string>d_Animals</string>
		<string>e_Food</string>
		<string>f_Living</string>
		<string>g_Nature</string>
	</array>
	<key>Weekly</key>
	<dict>
		<key>0413</key>
		<array>
			<dict>
				<key>name</key>
				<string>living_16</string>
				<key>category</key>
				<string>Living</string>
			</dict>
			<dict>
				<key>name</key>
				<string>living_16</string>
				<key>category</key>
				<string>Living</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nature_04</string>
				<key>category</key>
				<string>Nature</string>
			</dict>
			<dict>
				<key>name</key>
				<string>food_08</string>
				<key>category</key>
				<string>Food</string>
			</dict>
			<dict>
				<key>name</key>
				<string>living_01</string>
				<key>category</key>
				<string>Living</string>
			</dict>
			<dict>
				<key>name</key>
				<string>living_12</string>
				<key>category</key>
				<string>Living</string>
			</dict>
			<dict>
				<key>name</key>
				<string>food_05</string>
				<key>category</key>
				<string>Food</string>
			</dict>
		</array>
		<key>0420</key>
		<array>
			<dict>
				<key>name</key>
				<string>nature_22</string>
				<key>category</key>
				<string>Nature</string>
			</dict>
			<dict>
				<key>name</key>
				<string>beauty_19</string>
				<key>category</key>
				<string>Beauty</string>
			</dict>
			<dict>
				<key>name</key>
				<string>beauty_17</string>
				<key>category</key>
				<string>Beauty</string>
			</dict>
			<dict>
				<key>name</key>
				<string>animal_17</string>
				<key>category</key>
				<string>Animals</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fashion_26</string>
				<key>category</key>
				<string>Fashion</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nature_19</string>
				<key>category</key>
				<string>Nature</string>
			</dict>
			<dict>
				<key>name</key>
				<string>food_20</string>
				<key>category</key>
				<string>Food</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
