<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fb</key>
	<array/>
	<key>rate</key>
	<dict>
		<key>starNumber</key>
		<string>4</string>
		<key>rateBool</key>
		<string>3</string>
	</dict>
	<key>Material</key>
	<dict>
		<key>aGlitter</key>
		<dict>
			<key>iconImage</key>
			<string>GlitterMaterial</string>
			<key>Image</key>
			<string>GlitterMaterial</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>no</string>
		</dict>
		<key>bWatercolor</key>
		<dict>
			<key>iconImage</key>
			<string>Watercolor</string>
			<key>Image</key>
			<string>Watercolor</string>
			<key>Modle</key>
			<string>3</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>cStiching</key>
		<dict>
			<key>iconImage</key>
			<string>Stiching</string>
			<key>Image</key>
			<string>Stiching</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>dPencil</key>
		<dict>
			<key>iconImage</key>
			<string>Pencil</string>
			<key>Image</key>
			<string>Pencil</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>ePlaidFabric</key>
		<dict>
			<key>iconImage</key>
			<string>PlaidFabric</string>
			<key>Image</key>
			<string>PlaidFabric</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>no</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>fLeather</key>
		<dict>
			<key>iconImage</key>
			<string>Leather</string>
			<key>Image</key>
			<string>Leather</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>gCrack</key>
		<dict>
			<key>iconImage</key>
			<string>Crack</string>
			<key>Image</key>
			<string>Crack</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>hSwirls</key>
		<dict>
			<key>iconImage</key>
			<string>Swirls</string>
			<key>Image</key>
			<string>Swirls</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>iMarbleStone</key>
		<dict>
			<key>iconImage</key>
			<string>MarbleStone</string>
			<key>Image</key>
			<string>MarbleStone</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>jMarbleStone1</key>
		<dict>
			<key>iconImage</key>
			<string>MarbleStone1</string>
			<key>Image</key>
			<string>MarbleStone1</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>kMarbleStone2</key>
		<dict>
			<key>iconImage</key>
			<string>MarbleStone2</string>
			<key>Image</key>
			<string>MarbleStone2</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>lPainting</key>
		<dict>
			<key>iconImage</key>
			<string>Painting</string>
			<key>Image</key>
			<string>Painting</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>mPainting1</key>
		<dict>
			<key>iconImage</key>
			<string>Painting1</string>
			<key>Image</key>
			<string>Painting1</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>nPainting2</key>
		<dict>
			<key>iconImage</key>
			<string>Painting2</string>
			<key>Image</key>
			<string>Painting2</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
		<key>oEmbroidery</key>
		<dict>
			<key>iconImage</key>
			<string>Embroidery</string>
			<key>Image</key>
			<string>Embroidery</string>
			<key>Modle</key>
			<string>2</string>
			<key>rectClip</key>
			<string>yes</string>
			<key>buy</key>
			<string>yes</string>
		</dict>
	</dict>
	<key>FBid</key>
	<dict>
		<key>FBid</key>
		<string>564505860632777</string>
		<key>FBurl</key>
		<string>ColorByNumberApps</string>
	</dict>
	<key>Coloring</key>
	<dict>
		<key>ColoringUrl</key>
		<string>itms-apps://itunes.apple.com/app/id1451386883</string>
		<key>Show</key>
		<string>no</string>
	</dict>
	<key>ADSBOOL</key>
	<string>yes</string>
	<key>clearCache</key>
	<string>202019</string>
</dict>
</plist>
