<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a_Anime</key>
	<array>






	</array>
	<key>b_CuteAnime</key>
	<array>






	</array>
	<key>c_FoodDrink</key>
	<array>




	</array>
	<key>d_Unicorn</key>
	<array/>
	<key>e_Girls</key>
	<array>







	</array>
	<key>f_Animals</key>
	<array>





	</array>
	<key>g_Flower</key>
	<array>

	</array>
	<key>g_Bible</key>
	<array>




	</array>
</dict>
</plist>
